<div class="damage-selector-container">
    <div class="main-grid">
        <!-- Left: View Selector + Car Diagram -->
        <div class="diagram-section">
            <!-- View Tabs -->
            <div class="view-tabs">
                <button *ngFor="let view of views" [class.active]="currentView === view.id"
                    (click)="changeView(view.id)">
                    <!-- Simple Icons can be replaced with lucide-icon if available, using text for now or simple unicode if matched -->
                    <span *ngIf="view.id === 'front'">🚘</span>
                    <span *ngIf="view.id === 'rear'">🚘</span>
                    <span *ngIf="view.id === 'left'">⬅️</span>
                    <span *ngIf="view.id === 'right'">➡️</span>
                    <span *ngIf="view.id === 'top'">⬆️</span>
                    <span *ngIf="view.id === 'interior'">💺</span>
                    {{ view.name }}
                </button>
            </div>

            <!-- SVG Car Diagram (changes based on currentView) -->
            <div class="diagram-wrapper">
                <ng-container [ngSwitch]="currentView">

                    <!-- FRONT VIEW -->
                    <!-- FRONT VIEW -->
                    <!-- FRONT VIEW (CSS Visual) -->
                    <div *ngSwitchCase="'front'" style="position: relative; width: 100%; aspect-ratio: 114/83;">
                        <!-- Visual Layer -->
                        <div style="position: absolute; inset: 0; z-index: 0;">
                            <img src="assets/car-visuals/visual-front.png"
                                style="width: 100%; height: 100%; object-fit: contain;" alt="Front View">
                        </div>

                        <!-- Overlay Paths -->
                        <svg viewBox="0 0 800 600" preserveAspectRatio="none"
                            style="position: absolute; inset: 0; width: 100%; height: 100%; z-index: 10;">
                            <!-- Windshield -->
                            <path id="front-windshield" d="M 230 100 L 570 100 L 600 220 L 200 220 Z"
                                [ngStyle]="getPartStyle('front-windshield')" (click)="selectPart('front-windshield')"
                                (mouseenter)="hoveredPart = 'front-windshield'" (mouseleave)="hoveredPart = null" />
                            <!-- Hood -->
                            <path id="hood" d="M 200 220 L 600 220 L 580 380 L 220 380 Z"
                                [ngStyle]="getPartStyle('hood')" (click)="selectPart('hood')"
                                (mouseenter)="hoveredPart = 'hood'" (mouseleave)="hoveredPart = null" />
                            <!-- Front Bumper -->
                            <path id="front-bumper" d="M 180 380 L 620 380 L 620 500 L 180 500 Z"
                                [ngStyle]="getPartStyle('front-bumper')" (click)="selectPart('front-bumper')"
                                (mouseenter)="hoveredPart = 'front-bumper'" (mouseleave)="hoveredPart = null" />
                            <!-- Left Front Fender -->
                            <path id="left-front-fender" d="M 80 250 L 200 220 L 220 380 L 180 380 L 100 420 Z"
                                [ngStyle]="getPartStyle('left-front-fender')" (click)="selectPart('left-front-fender')"
                                (mouseenter)="hoveredPart = 'left-front-fender'" (mouseleave)="hoveredPart = null" />
                            <!-- Right Front Fender -->
                            <path id="right-front-fender" d="M 720 250 L 600 220 L 580 380 L 620 380 L 700 420 Z"
                                [ngStyle]="getPartStyle('right-front-fender')"
                                (click)="selectPart('right-front-fender')"
                                (mouseenter)="hoveredPart = 'right-front-fender'" (mouseleave)="hoveredPart = null" />
                            <!-- Left Mirror -->
                            <path id="left-mirror" d="M 50 180 L 150 180 L 150 230 L 50 230 Z"
                                [ngStyle]="getPartStyle('left-mirror')" (click)="selectPart('left-mirror')"
                                (mouseenter)="hoveredPart = 'left-mirror'" (mouseleave)="hoveredPart = null" />
                            <!-- Right Mirror -->
                            <path id="right-mirror" d="M 650 180 L 750 180 L 750 230 L 650 230 Z"
                                [ngStyle]="getPartStyle('right-mirror')" (click)="selectPart('right-mirror')"
                                (mouseenter)="hoveredPart = 'right-mirror'" (mouseleave)="hoveredPart = null" />
                            <!-- Roof (Front bit) -->
                            <path id="roof-front" d="M 250 50 L 550 50 L 570 100 L 230 100 Z"
                                [ngStyle]="getPartStyle('roof')" (click)="selectPart('roof')"
                                (mouseenter)="hoveredPart = 'roof'" (mouseleave)="hoveredPart = null" />
                        </svg>
                    </div>

                    <!-- REAR VIEW -->
                    <!-- REAR VIEW -->
                    <!-- REAR VIEW (CSS Visual) -->
                    <div *ngSwitchCase="'rear'" style="position: relative; width: 100%; aspect-ratio: 114/84;">
                        <!-- Visual Layer -->
                        <div style="position: absolute; inset: 0; z-index: 0;">
                            <img src="assets/car-visuals/visual-rear.png"
                                style="width: 100%; height: 100%; object-fit: contain;" alt="Rear View">
                        </div>

                        <!-- Interactive Zones -->
                        <svg viewBox="0 0 800 600" preserveAspectRatio="none"
                            style="position: absolute; inset: 0; width: 100%; height: 100%; z-index: 10;">
                            <!-- Rear Windshield -->
                            <path id="rear-windshield" d="M 230 150 L 570 150 L 600 250 L 200 250 Z"
                                [ngStyle]="getPartStyle('rear-windshield')" (click)="selectPart('rear-windshield')"
                                (mouseenter)="hoveredPart = 'rear-windshield'" (mouseleave)="hoveredPart = null" />
                            <!-- Trunk -->
                            <path id="trunk" d="M 200 250 L 600 250 L 580 400 L 220 400 Z"
                                [ngStyle]="getPartStyle('trunk')" (click)="selectPart('trunk')"
                                (mouseenter)="hoveredPart = 'trunk'" (mouseleave)="hoveredPart = null" />
                            <!-- Rear Bumper -->
                            <path id="left-taillight" d="M 60 260 L 80 260 L 80 320 L 60 320 Z"
                                [ngStyle]="getPartStyle('left-taillight')" (click)="selectPart('left-taillight')"
                                (mouseenter)="hoveredPart = 'left-taillight'" (mouseleave)="hoveredPart = null" />

                            <path id="right-taillight" d="M 250 260 L 270 260 L 270 320 L 250 320 Z"
                                [ngStyle]="getPartStyle('right-taillight')" (click)="selectPart('right-taillight')"
                                (mouseenter)="hoveredPart = 'right-taillight'" (mouseleave)="hoveredPart = null" />
                        </svg>
                    </div>

                    <!-- LEFT VIEW -->
                    <!-- LEFT VIEW -->
                    <!-- LEFT VIEW (Using Front-Side Image) -->
                    <svg *ngSwitchCase="'left'" viewBox="0 0 800 600" preserveAspectRatio="xMidYMid meet">
                        <image href="assets/car-visuals/visual-left.png" x="0" y="0" width="800" height="600" />

                        <!-- Interactive Zones -->
                        <svg viewBox="0 0 800 600" preserveAspectRatio="none"
                            style="position: absolute; inset: 0; width: 100%; height: 100%; z-index: 10;">
                            <!-- Left Front Fender -->
                            <path id="left-front-fender" d="M 80 220 L 250 180 L 250 450 L 130 450 Z"
                                [ngStyle]="getPartStyle('left-front-fender')" (click)="selectPart('left-front-fender')"
                                (mouseenter)="hoveredPart = 'left-front-fender'" (mouseleave)="hoveredPart = null" />
                            <!-- Left Front Door -->
                            <path id="left-front-door" d="M 250 180 L 450 180 L 450 450 L 250 450 Z"
                                [ngStyle]="getPartStyle('left-front-door')" (click)="selectPart('left-front-door')"
                                (mouseenter)="hoveredPart = 'left-front-door'" (mouseleave)="hoveredPart = null" />
                            <!-- Left Rear Door -->
                            <path id="left-rear-door" d="M 450 180 L 650 170 L 650 450 L 450 450 Z"
                                [ngStyle]="getPartStyle('left-rear-door')" (click)="selectPart('left-rear-door')"
                                (mouseenter)="hoveredPart = 'left-rear-door'" (mouseleave)="hoveredPart = null" />
                            <!-- Left Rear Fender -->
                            <path id="left-rear-fender" d="M 650 170 L 750 220 L 780 400 L 650 450 Z"
                                [ngStyle]="getPartStyle('left-rear-fender')" (click)="selectPart('left-rear-fender')"
                                (mouseenter)="hoveredPart = 'left-rear-fender'" (mouseleave)="hoveredPart = null" />
                            <!-- Left Mirror -->
                            <path id="left-mirror" d="M 180 160 L 220 160 L 220 200 L 180 200 Z"
                                [ngStyle]="getPartStyle('left-mirror')" (click)="selectPart('left-mirror')"
                                (mouseenter)="hoveredPart = 'left-mirror'" (mouseleave)="hoveredPart = null" />
                        </svg>

                        <!-- RIGHT VIEW (Mirrored Front-Side Image) -->
                        <svg *ngSwitchCase="'right'" viewBox="0 0 800 600" preserveAspectRatio="xMidYMid meet">
                            <!-- Scale(-1,1) to flip horizontal around center (400) -> translate(-800, 0) to bring getting back -->
                            <g>
                                <image href="assets/car-visuals/visual-right.png" x="0" y="0" width="800"
                                    height="600" />
                            </g>

                            <!-- Interactive Zones -->
                            <svg viewBox="0 0 800 600" preserveAspectRatio="none"
                                style="position: absolute; inset: 0; width: 100%; height: 100%; z-index: 10;">
                                <!-- Right Front Fender -->
                                <path id="right-front-fender" d="M 670 450 L 720 220 L 550 180 L 550 450 Z"
                                    [ngStyle]="getPartStyle('right-front-fender')"
                                    (click)="selectPart('right-front-fender')"
                                    (mouseenter)="hoveredPart = 'right-front-fender'"
                                    (mouseleave)="hoveredPart = null" />
                                <!-- Right Front Door -->
                                <path id="right-front-door" d="M 550 450 L 550 180 L 350 180 L 350 450 Z"
                                    [ngStyle]="getPartStyle('right-front-door')"
                                    (click)="selectPart('right-front-door')"
                                    (mouseenter)="hoveredPart = 'right-front-door'" (mouseleave)="hoveredPart = null" />
                                <!-- Right Rear Door -->
                                <path id="right-rear-door" d="M 350 450 L 350 180 L 150 170 L 150 450 Z"
                                    [ngStyle]="getPartStyle('right-rear-door')" (click)="selectPart('right-rear-door')"
                                    (mouseenter)="hoveredPart = 'right-rear-door'" (mouseleave)="hoveredPart = null" />
                                <!-- Right Rear Fender -->
                                <path id="right-rear-fender" d="M 150 450 L 150 170 L 50 220 L 20 400 Z"
                                    [ngStyle]="getPartStyle('right-rear-fender')"
                                    (click)="selectPart('right-rear-fender')"
                                    (mouseenter)="hoveredPart = 'right-rear-fender'"
                                    (mouseleave)="hoveredPart = null" />
                                <!-- Right Mirror -->
                                <path id="right-mirror" d="M 580 160 L 620 160 L 620 200 L 580 200 Z"
                                    [ngStyle]="getPartStyle('right-mirror')" (click)="selectPart('right-mirror')"
                                    (mouseenter)="hoveredPart = 'right-mirror'" (mouseleave)="hoveredPart = null" />
                            </svg>

                            <!-- TOP VIEW -->
                            <!-- TOP VIEW -->
                            <!-- TOP VIEW WITH IMAGE -->
                            <svg *ngSwitchCase="'top'" viewBox="0 0 420 800" preserveAspectRatio="xMidYMid meet">
                                <!-- Background Image -->
                                <image href="assets/car-visuals/visual-top.png" x="0" y="0" width="420" height="800" />

                                <!-- Interactive Zones (Approximate mapping to image) -->
                                <svg viewBox="0 0 420 800" preserveAspectRatio="none"
                                    style="position: absolute; inset: 0; width: 100%; height: 100%; z-index: 10;">
                                    <!-- Hood -->
                                    <path id="hood" d="M 50 80 L 370 80 L 370 230 L 50 230 Z"
                                        [ngStyle]="getPartStyle('hood')" (click)="selectPart('hood')"
                                        (mouseenter)="hoveredPart = 'hood'" (mouseleave)="hoveredPart = null" />
                                    <!-- Front Windshield -->
                                    <path id="front-windshield-top" d="M 50 230 L 370 230 L 370 300 L 50 300 Z"
                                        [ngStyle]="getPartStyle('front-windshield')"
                                        (click)="selectPart('front-windshield')"
                                        (mouseenter)="hoveredPart = 'front-windshield'"
                                        (mouseleave)="hoveredPart = null" />
                                    <!-- Roof -->
                                    <path id="roof" d="M 50 300 L 370 300 L 370 500 L 50 500 Z"
                                        [ngStyle]="getPartStyle('roof')" (click)="selectPart('roof')"
                                        (mouseenter)="hoveredPart = 'roof'" (mouseleave)="hoveredPart = null" />
                                    <!-- Rear Windshield -->
                                    <path id="rear-windshield-top" d="M 50 500 L 370 500 L 370 570 L 50 570 Z"
                                        [ngStyle]="getPartStyle('rear-windshield')"
                                        (click)="selectPart('rear-windshield')"
                                        (mouseenter)="hoveredPart = 'rear-windshield'"
                                        (mouseleave)="hoveredPart = null" />
                                    <!-- Trunk -->
                                    <path id="trunk-top" d="M 50 570 L 370 570 L 370 720 L 50 720 Z"
                                        [ngStyle]="getPartStyle('trunk')" (click)="selectPart('trunk')"
                                        (mouseenter)="hoveredPart = 'trunk'" (mouseleave)="hoveredPart = null" />
                                </svg>

                                <!-- INTERIOR VIEW -->
                                <svg *ngSwitchCase="'interior'" viewBox="0 0 600 400"
                                    preserveAspectRatio="xMidYMid meet">
                                    <!-- Dashboard -->
                                    <path id="dashboard" d="M 100 100 L 500 100 L 500 200 L 100 200 Z"
                                        [ngStyle]="getPartStyle('dashboard')" (click)="selectPart('dashboard')"
                                        (mouseenter)="hoveredPart = 'dashboard'" (mouseleave)="hoveredPart = null" />

                                    <!-- Steering Wheel -->
                                    <circle id="steering" cx="180" cy="160" r="40" [ngStyle]="getPartStyle('steering')"
                                        (click)="selectPart('steering')" (mouseenter)="hoveredPart = 'steering'"
                                        (mouseleave)="hoveredPart = null" stroke-width="5" />

                                    <!-- Center Console -->
                                    <path id="center-console" d="M 280 200 L 320 200 L 320 350 L 280 350 Z"
                                        [ngStyle]="getPartStyle('center-console')"
                                        (click)="selectPart('center-console')"
                                        (mouseenter)="hoveredPart = 'center-console'"
                                        (mouseleave)="hoveredPart = null" />

                                    <!-- Front Seats -->
                                    <rect id="front-seats" x="120" y="220" width="120" height="120" rx="10"
                                        [ngStyle]="getPartStyle('front-seats')" (click)="selectPart('front-seats')"
                                        (mouseenter)="hoveredPart = 'front-seats'" (mouseleave)="hoveredPart = null" />

                                    <rect id="front-seats-2" x="360" y="220" width="120" height="120" rx="10"
                                        [ngStyle]="getPartStyle('front-seats')" (click)="selectPart('front-seats')"
                                        (mouseenter)="hoveredPart = 'front-seats'" (mouseleave)="hoveredPart = null" />

                                    <!-- Rear Seats -->
                                    <rect id="rear-seats" x="120" y="360" width="360" height="30" rx="5"
                                        [ngStyle]="getPartStyle('rear-seats')" (click)="selectPart('rear-seats')"
                                        (mouseenter)="hoveredPart = 'rear-seats'" (mouseleave)="hoveredPart = null" />
                                </svg>

                </ng-container>
            </div>

            <!-- Legend & Clear Button -->
            <div class="controls">
                <div class="legend">
                    <span class="legend-item">
                        <div class="color-box available"></div> Available
                    </span>
                    <span class="legend-item">
                        <div class="color-box damaged"></div> Damaged
                    </span>
                </div>
                <button (click)="clearSelection()" class="clear-btn">
                    Clear Selection
                </button>
            </div>
        </div>

        <!-- Right: Selected Parts List -->
        <div class="selection-panel">
            <h3>Damaged Parts ({{ selectedParts.length }})</h3>

            <div *ngIf="selectedParts.length === 0" class="empty-state">
                <p>No parts selected yet</p>
            </div>

            <div *ngIf="selectedParts.length > 0" class="parts-list">
                <div *ngFor="let partId of selectedParts" class="part-item">
                    <span class="part-name">{{ getPartName(partId) }}</span>
                    <button (click)="selectPart(partId)" class="remove-btn">✕</button>
                </div>
            </div>

            <div class="instructions">
                <h4>Instructions:</h4>
                <ul>
                    <li>Click any part to mark as damaged</li>
                    <li>Click again to deselect</li>
                    <li>Switch views to see all angles</li>
                </ul>
            </div>
        </div>
    </div>
</div>